@media (max-width: 1799px) {
}
@media (max-width: 1379px) {
}
@media (max-width: 1299px) {
}
@media (max-width: 1199px) {
}
@media (max-width: 993px) {
}
@media (max-width: 767px) {
}
.mainWrapper {
    position: relative;
    background: rgb(255, 255, 255);
}
.hysHomeBannerWrap {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: calc(100vh - 110px);
}
.hysHomeBannerWrap ul {
    position: relative;
    height: 100%;
}
.hysHomeBannerWrap ul li {
}
.hysHomeBannerWrap ul li a {
    display: block;
    height: 100%;
    width: 100%;
}
.hysHomeBannerWrap ul li a img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.hysHomeBannerWrap .swiper-pagination {
    bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hysHomeBannerWrap .swiper-pagination > span {
    width: 14px;
    height: 14px;
    cursor: pointer;
    background-color: rgb(236, 236, 236);
    border: 1px solid rgb(255, 255, 255);
    border-radius: 50%;
    opacity: 0.8;
}
.hysHomeBannerWrap .swiper-pagination > span.swiper-pagination-bullet-active {
    background: none;
}
@media (max-width: 993px) {
    .hysHomeBannerWrap {
        height: 42vh;
    }
    .footerCode {
        width: 120px;
        margin-right: 0px;
    }
}
@media (max-width: 767px) {
    .hysHomeBannerWrap {
        height: 32vh;
    }
    .hysHomeBannerWrap .swiper-pagination {
        bottom: 15px;
    }
    .hysHomeBannerWrap .swiper-pagination > span {
        width: 10px;
        height: 10px;
    }
}
.hysHomeRecommendWrap {
    padding: 45px 0px 65px;
}
.hysHomeRecommendBox {
    display: flex;
    justify-content: space-between;
}
.hysHomeRecommendBox .item {
    display: block;
    position: relative;
    width: 32.3%;
    transition: all 0.8s ease 0s;
}
.hysHomeRecommendBox .item .img {
    overflow: hidden;
}
.hysHomeRecommendBox .item .img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.4s ease 0s;
}
.hysHomeRecommendBox .item .img img:hover {
    transform: scale(1.1, 1.1);
}
.hysHomeRecommendBox .item .letter {
    position: absolute;
    z-index: 1;
    bottom: 15%;
    left: 0px;
    right: 0px;
    width: 90%;
    margin: auto;
    font-size: 30px;
    color: rgb(255, 255, 255);
    font-family: AccordAlternate-Light;
}
@media (max-width: 1799px) {
}
@media (max-width: 1379px) {
}
@media (max-width: 1299px) {
}
@media (max-width: 1199px) {
}
@media (max-width: 993px) {
}
@media (max-width: 767px) {
    .hysHomeRecommendBox {
        flex-direction: column;
    }
    .hysHomeRecommendBox .item {
        width: 100%;
        margin-bottom: 20px;
    }
}
.hysHomeAboutWrap {
    padding: 58px 0px;
    background: rgb(245, 245, 245);
}
.hysHomeAboutBox {
    display: flex;
}
.hysHomeAboutBox .infoMod {
    width: 45%;
    margin-top: 50px;
    margin-right: 9%;
}
.hysHomeAboutBox .infoMod .title {
    font-size: 36px;
    color: rgb(46, 46, 46);
    font-family: AccordAlternate-Light;
    margin-bottom: 20px;
    font-weight: normal;
    text-align: left;
}
.hysHomeAboutBox .infoMod .bf {
    font-size: 16px;
    color: rgb(85, 85, 85);
    line-height: 180%;
}
.hysHomeAboutBox .infoMod .btn {
    display: block;
    font-size: 13px;
    color: rgb(36, 36, 36);
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    border: 1px solid rgb(189, 186, 183);
    max-width: 167px;
    width: 100%;
    line-height: 39px;
    margin-top: 30px;
    transition: all 300ms ease 0s;
}
.hysHomeAboutBox .infoMod .btn:hover {
    background: #d80c18;
    color: #f5f5f5;
}
.hysHomeAboutBox .videoMod {
    flex: 1;
    width: 46%;
}
@media (max-width: 1799px) {
}
@media (max-width: 1379px) {
}
@media (max-width: 1299px) {
    .hysHomeAboutBox .infoMod {
        width: 45%;
        margin-top: 20px;
        margin-right: 2%;
    }
    .hysHomeAboutBox .videoMod {
        width: 50%;
    }
}
@media (max-width: 1199px) {
}
@media (max-width: 993px) {
    .hysHomeAboutWrap {
        padding: 30px 0px;
    }
    .hysHomeAboutBox {
        flex-direction: column-reverse;
    }
    .hysHomeAboutBox .infoMod {
        width: 100%;

        margin: 15px 0;
    }
    .hysHomeAboutBox .videoMod {
        width: 100%;
    }
    .hysHomeAboutBox .infoMod .title {
        font-size: 28px;
        text-align: center;
    }
    .hysHomeAboutBox .infoMod .btn {
        width: 100%;
        max-width: 100%;
        margin-top: 15px;
    }
    .hysHomeAboutBox .infoMod .bf {
        font-size: 14px;
    }
}
@media (max-width: 767px) {
}

.hysHomeProductWrap {
    padding: 80px 0 40px;
}
.hysHHomeProductBox {
    overflow: hidden;
}
.hysHHomeProductBox .title {
    margin-bottom: 60px;
    font-size: 36px;
    color: #1f1f1f;
    font-family: "AccordAlternate-Light";
    text-align: center;
}

.hysHomeProductSwiper {
}
.hysHomeProductSW {
}
.hysHomeProductSW .items {
    overflow: hidden;
}
.hysHomeProductSW .items .img {
    display: block;
    overflow: hidden;
}
.hysHomeProductSW .items .img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.8s;
    -webkit-transition: all 0.8s;
}
.hysHomeProductSW .items .img img:hover {
    transform: scale(1.1, 1.1);
    -webkit-transform: scale(1.1, 1.1);
}
.hysHomeProductSW .items .letter {
    display: block;
    font-size: 16px;
    color: #2e2e2e;
    margin-top: 30px;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.hysHomeProduct-guide {
    margin-top: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hysHomeProduct-button-prev,
.hysHomeProduct-button-next {
    display: inline-block;
    width: 33px;
    height: 33px;
    margin: 0 5px;
    border: 1px solid #bbb;
    background: #fff no-repeat center;
    display: flex;
    cursor: pointer;
    transition: all 0.8s;
    -webkit-transition: all 0.8s;
}
.hysHomeProduct-button-prev .icon-svg,
.hysHomeProduct-button-next .icon-svg {
    width: 31px;
    height: 31px;
    fill: #bbb;
    transition: all 0.8s;
    -webkit-transition: all 0.8s;
}
.hysHomeProduct-button-prev:hover,
.hysHomeProduct-button-next:hover {
    border-color: rgb(88, 88, 88);
}
.hysHomeProduct-button-prev:hover .icon-svg,
.hysHomeProduct-button-next:hover .icon-svg {
    fill: rgb(88, 88, 88);
}
.hysHomeProduct-button-prev .icon-svg {
    transform: rotate(180deg);
}
@media (max-width: 1799px) {
}
@media (max-width: 1379px) {
}
@media (max-width: 1299px) {
}
@media (max-width: 1199px) {
}
@media (max-width: 993px) {
    .hysHomeProduct-guide {
        margin-top: 25px;
    }
}
@media (max-width: 767px) {
}

.hysHomeCaseWrap {
    padding: 40px 0 60px;
}
.hysHomeCaseBox {
    margin: 0 -10px;
}
.hysHomeCaseBox .title {
    margin-bottom: 60px;
    font-size: 36px;
    color: #1f1f1f;
    font-family: "AccordAlternate-Light";
    text-align: center;
}
.hysHomeCaseListImg {
    display: flex;
    flex-wrap: wrap;
}
.hysHomeCaseListImg li {
    width: 20%;
    padding: 10px;
    overflow: hidden;
}
.hysHomeCaseListImg li .items {
    height: 100%;
    display: block;
    overflow: hidden;
}
.hysHomeCaseListImg li .items img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
}
.hysHomeCaseListImg li .items img:hover {
    transform: scale(1.1, 1.1);
    -webkit-transform: scale(1.1, 1.1);
}

@media (max-width: 1799px) {
}
@media (max-width: 1379px) {
}
@media (max-width: 1299px) {
}
@media (max-width: 1199px) {
}
@media (max-width: 993px) {
    .hysHomeCaseBox .title {
        margin-bottom: 25px;
    }
    .hysHomeCaseListImg {
        display: flex;
        flex-wrap: wrap;
    }
    .hysHomeCaseListImg li {
        width: 50%;
        padding: 10px;
        overflow: hidden;
    }
    .hysHHomeProductBox .title,
    .hysHomeCaseBox .title {
        font-size: 28px;
    }
}
@media (max-width: 767px) {
    .hysHomeCaseBox .title {
        margin-bottom: 15px;
    }
}

.hysProductListWrap {
    overflow: hidden;
    padding: 30px 0;
}
.hysProductListBox {
}
.hysMenuStyle {
    width: 20%;
    float: left;
}
.hysMenuStyle .menu {
}
.hysMenuStyle .menu .title {
    margin-bottom: 30px;
    font-size: 30px;
    color: #1f1f1f;
    line-height: 1.5;
}
.hysMenuStyle .menu h3 {
    margin-bottom: 10px;
}
.hysMenuStyle .menu h3 a {
    font-size: 14px;
    color: #1f1f1f;
    font-weight: normal;
}
.hysMenuStyle .menu .sublist {
    line-height: 250%;
    margin-bottom: 15px;
}
.hysMenuStyle .menu .sublist li {
}
.hysMenuStyle .menu .sublist li a:before {
    width: 13px;
    height: 13px;
    border: 1px solid #737373;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    transition: all 0.5s;
    content: "";
    position: relative;
    top: -1px;
}
.hysMenuStyle .menu .sublist li a {
    position: relative;
    font-size: 16px;
    color: #737373;
}
.hysMenuStyle .menu .sublist li:hover a {
    color: #d80c18 !important;
}
.hysMenuStyle .menu .sublist li a.on {
    color: #d80c18 !important;
}
.hysMenuStyle .menu .sublist li a.on::before {
    border-color: #d80c18 !important;
    background: #d80c18 !important;
}
.hysProductShowStyle {
    width: 77.75%;
    float: right;
}
.hysshopResponsive {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}
.hysshopResponsive .title {
    text-align: left;
    overflow: hidden;
    font-size: 30px;
    color: #1f1f1f;
    line-height: 1.5;
    margin-bottom: 10px;
}
.hysshopResponsive .position {
    text-align: right;
    font-size: 14px;
    color: #7d7d7d;
}
.hysshopResponsive .position a {
    font-size: 14px;
    color: #7d7d7d;
}
.hysshopResponsive .position a.on {
}

.hysshopProductsList {
    margin: 30px 0;
    overflow: hidden;
}
.hysshopProductsList .item {
    margin-bottom: 15px;
    box-sizing: border-box;
    float: left;
    width: 25%;
    overflow: hidden;
}
.hysshopProductsList .item .pro {
    width: 90%;
    margin: 0 auto;
}
.hysshopProductsList .item .pro .img {
    overflow: hidden;
}
.hysshopProductsList .item .pro .img a {
}
.hysshopProductsList .item .pro .img a img {
    transition: all 0.3s;
}
.hysshopProductsList .item:hover .pro .img a img {
    transform: scale(1.05);
}
.hysshopProductsList .item .pro .info {
    width: 90%;
    margin: 10px auto;
}
.hysshopProductsList .item .pro .info .name {
    text-align: center;
    font-weight: normal;
}
.hysshopProductsList .item .pro .info .name a {
    display: block;
    font-size: 14px;
    text-decoration: none;
    color: #555;
}

.hysPage {
    margin: 30px 0;
    text-align: center;
    height: 54px;
    line-height: 54px;
    clear: both;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hysPage .page_noclick {
    display: block;
    width: 36px;
    height: 36px;
    line-height: 36px;
    margin: 0;
    border: 1px solid #666;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.hysPage .page_noclick .icon-svg {
    width: 20px;
    height: 20px;
}
.hysPage .btnL {
}
.hysPage .btnR {
}
.hysPage .num {
    margin: 0;
    width: 36px;
    height: 36px;
    color: #ff6600;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hysPage .num .current {
}
@media (max-width: 1799px) {
}
@media (max-width: 1379px) {
}
@media (max-width: 1299px) {
}
@media (max-width: 1199px) {
}
@media (max-width: 993px) {
    .hysshopProductsList .item {
        width: 50%;
    }
}
@media (max-width: 767px) {
    .hysProductShowStyle {
        width: 100%;
    }
    .hysMenuStyle {
        display: none;
    }
    .hysshopResponsive .title {
        font-size: 22px;
    }
    .hysshopResponsive .position {
        text-align: left;
    }
}

.hysProductDetailWrap {
}
.hysPositionTop {
    margin-bottom: 60px;
    background: #f3f3f3;
}
.hysResponsivePosition {
}
.hysResponsivePosition .position {
    width: 100%;
    text-align: left;
    height: 55px;
    line-height: 55px;
    color: #888;
    font-size: 14px;
    overflow: hidden;
}
.hysResponsivePosition .position a {
    color: #888;
}

.hysGalleryBox {
    overflow: hidden;
    display: flex;
}
.hysGallery {
    position: relative;

    display: flex;
}
.hysGallery .one {
    width: 500px;
    height: 500px;
    margin: 0 10px 12px;
    position: relative;
}
.hysGallery .one span {
    width: 350px;
    height: 350px;
    position: absolute;
    border: 1px solid #d4d4d4;
    top: 0;
    left: 0;
    display: none;
    background: rgba(255, 255, 255, 0.5);
}
.hysGallery .one:hover span {
    display: block;
    background-image: url(../img/bg.png);
}
.hysGallery .case {
    display: flex;
}
.hysGallery .two {
    display: flex;
    flex-direction: column;
}
.hysGallery .two .item {
    border: 1px solid #ddd;
    text-align: center;
    display: block;
    width: 92px;
    height: 92px;
    overflow: hidden;
    margin: 0 10px 10px 0;
    transition: .1s;
}
.hysGallery .two img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.hysGallery .two .item.active {
    border: 1px solid red;
}
.hysGallery .two .item:hover {
    border: 1px solid red;
}
.hysGallery .the {
    width: 400px;
    height: 400px;
    position: absolute;
    top: 0;
    right: -400px;
    overflow: hidden;
    display: none;
}
.hysGallery .the img {
    max-width: none;
    position: absolute;
    display: block;
}

.hysGalleryInfo {
    flex: 1;
    padding-left: 40px;
}
.hysGalleryInfo .name {
    font-size: 24px;
    color: #5d5d5d;
    font-weight: normal;
}
.hysGalleryInfo .desc {
    font-size: 16px;
    margin: 10px 0;
    line-height: 190%;
    color: #888;
}
.hysGalleryInfo .btnbox {
    margin: 20px 0;
    overflow: hidden;
}
.hysGalleryInfo .btnbox a {
    background: #3a3a3a !important;
    transition: all 0.4s ease-out;
    -webkit-transition: all 0.4s ease-out;
    width: 40%;
    max-width: 200px;
    height: 45px;
    line-height: 45px;
    display: block;
    color: #fff;
    text-align: center;
    background: #23a9dc;
    font-size: 16px;
    text-decoration: none;
    float: left;
    margin-right: 10px;
    border-radius: 3px;
}
.hysGalleryInfo .btnbox a:hover {
    background: #d80c18 !important;
    color: #f5f5f5 !important;
}
.hysGalleryInfo .btnbox a .name:hover {
    color: #d80c18;
}
.hysGallerySwiperCon {
    position: relative;
    display: none;
}
.hysGallerySwiperButton {
}
.hysGallerySwiperButton .icon-svg {
    width: 40px;
    height: 40px;
    fill: #fff;
}
.hysGallerySwiperButton > div {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 50%;
    margin-top: -20px;
    z-index: 10;
    cursor: pointer;
    border-radius: 50%;
    background: #000;
    opacity: 0.4;
}
.hysGallery-button-prev {
    left: 0;
    transform: rotate(-180deg);
}
.hysGallery-button-next {
    right: 0;
}
@media (max-width: 1799px) {
}
@media (max-width: 1379px) {
}
@media (max-width: 1299px) {
}
@media (max-width: 1199px) {
}
@media (max-width: 993px) {
    .hysGalleryInfo {
        padding-left: 30px;
    }
    .hysGallery {
        display: none;
    }
    .hysGallerySwiperCon {
        width: 50%;
        display: block;
        overflow: hidden;
    }
}
@media (max-width: 767px) {
    .hysPositionTop {
        margin-bottom: 30px;
    }
    .hysGalleryBox {
        flex-direction: column;
    }
    .hysGallerySwiperCon {
        width: 100%;
    }

    .hysGallery-button-prev {
        left: 0;
        transform: scale(0.7) rotate(-180deg);
    }
    .hysGallery-button-next {
        right: 0;
        transform: scale(0.7);
    }
    .hysGalleryInfo {
        margin-top: 20px;
        padding-left: 0;
    }
    .hysGalleryInfo .btnbox {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.hysDescriptionBox {
    margin: 20px 0;
    overflow: hidden;
}
.hysDescriptionTitle {
    padding: 10px 0;
    color: #555;
    overflow: hidden;
    display: flex;
    align-items: center;
}
.hysDescriptionTitle .title {
    color: #222;
    font-size: 30px;
    position: relative;
    background: #fff;
    margin-right: 0;
    padding-right: 15px;
}
.hysDescriptionTitle .line {
    width: 100%;
    left: 100%;
    height: 1px;
    background: #e3e3e3;
    margin-left: 20px;
}

#hysGlobalEditorContents span,
#hysGlobalEditorContents strong,
#hysGlobalEditorContents sub,
#hysGlobalEditorContents sup,
#pdetail .description span,
#pdetail .description strong,
#pdetail .description sub,
#pdetail .description sup {
    color: inherit;
    font-size: inherit;
    font-family: inherit;
}
#hysGlobalEditorContents u {
    text-decoration: underline;
}
#hysGlobalEditorContents li {
    list-style-type: inherit;
}
#hysGlobalEditorContents {
    font-family: Arial, sans-serif;
}
#hysGlobalEditorContents p {
    margin: 5px 0;
}
#hysGlobalEditorContents h1 {
    font-size: 2em;
}
#hysGlobalEditorContents h2 {
    font-size: 1.5em;
}
#hysGlobalEditorContents h3 {
    font-size: 1.17em;
}
#hysGlobalEditorContents h4 {
    font-size: 1em;
    margin: 1.33em 0;
}
#hysGlobalEditorContents h5 {
    font-size: 0.83em;
}
#hysGlobalEditorContents h6 {
    font-size: 0.67em;
}
#hysGlobalEditorContents b,
#hysGlobalEditorContents b *,
#hysGlobalEditorContents strong,
#hysGlobalEditorContents strong * {
    font-weight: bold;
}
#hysGlobalEditorContents h4 {
    margin: 1.33em 0;
}
#hysGlobalEditorContents li {
    /*list-style-position:inside; */
    list-style-type: inherit;
    margin-left: 30px;
}
#hysGlobalEditorContents li p {
    display: inline-block;
}
#hysGlobalEditorContents i,
#hysGlobalEditorContents cite,
#hysGlobalEditorContents em {
    font-style: italic;
}
/*#hysGlobalEditorContents td, #hysGlobalEditorContents th{padding:5px 10px; border:1px #ddd solid;}*/

#hysGlobalEditorContents .selectTdClass {
    background-color: #edf5fa !important;
}
#hysGlobalEditorContents table.noBorderTable td,
#hysGlobalEditorContents table.noBorderTable th,
#hysGlobalEditorContents table.noBorderTable caption {
    border: 1px #ddd dashed !important;
}
#hysGlobalEditorContents table {
    margin-bottom: 10px;
    border-collapse: collapse;
    display: table;
    margin: 0 auto;
}
#hysGlobalEditorContents caption {
    border: 1px #ddd dashed;
    border-bottom: 0;
    padding: 3px;
    text-align: center;
}
#hysGlobalEditorContents th {
    border-top: 1px #bbb solid;
    background-color: #f7f7f7;
}
#hysGlobalEditorContents table tr.firstRow th {
    border-top-width: 2px;
}
#hysGlobalEditorContents .ue-table-interlace-color-single {
    background-color: #fcfcfc;
}
#hysGlobalEditorContents .ue-table-interlace-color-double {
    background-color: #f7faff;
}
#hysGlobalEditorContents td p {
    margin: 0;
    padding: 0;
}

#hysGlobalEditorContents .pagebreak {
    display: block;
    clear: both !important;
    cursor: default !important;
    width: 100% !important;
    margin: 0;
}
#hysGlobalEditorContents pre {
    margin: 0.5em 0;
    padding: 0.4em 0.6em;
    border-radius: 8px;
    background: #f8f8f8;
}

#hysGlobalEditorContents img {
    max-height: none;
    vertical-align: middle;
}
#hysGlobalEditorContents .editor_table_wrap {
    width: 100%;
    overflow: hidden;
    overflow-x: scroll;
}
