@media (max-width: 1799px) {
}
@media (max-width: 1379px) {
}
@media (max-width: 1299px) {
}
@media (max-width: 1199px) {
}
@media (max-width: 993px) {
}
@media (max-width: 767px) {
}
.mainWrapper {
    position: relative;

    background: #f7f7f0;
}
.ddwHomeBannerWrap {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: calc(100vh - 110px);
}
.ddwHomeBannerWrap ul {
    position: relative;
    height: 100%;
}
.ddwHomeBannerWrap ul li {
}
.ddwHomeBannerWrap ul li a {
    display: block;
    height: 100%;
    width: 100%;
}
.ddwHomeBannerWrap ul li a img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.ddwHomeBannerWrap .swiper-pagination {
    bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ddwHomeBannerWrap .swiper-pagination > span {
    width: 14px;
    height: 14px;
    cursor: pointer;
    background-color: #ececec;
    border: 1px solid #fff;
    border-radius: 50%;
    opacity: 0.8;
}
.ddwHomeBannerWrap .swiper-pagination > span.swiper-pagination-bullet-active {
    background: none;
}
@media (max-width: 993px) {
    .ddwHomeBannerWrap {
        height: 42vh;
    }
    .footerCode {
        width: 120px;
        margin-right: 0;
    }
}
@media (max-width: 767px) {
    .ddwHomeBannerWrap {
        height: 32vh;
    }
    .ddwHomeBannerWrap .swiper-pagination {
        bottom: 15px;
    }
    .ddwHomeBannerWrap .swiper-pagination > span {
        width: 10px;
        height: 10px;
    }
}

.ddwHomeRecommendWrap {
    padding: 45px 0 65px;
}
.ddwHomeRecommendBox {
    display: flex;
    justify-content: space-between;
}
.ddwHomeRecommendBox .item {
    display: block;
    position: relative;
    width: 32.3%;
    transition: all 0.8s;
    -webkit-transition: all 0.8s;
}
.ddwHomeRecommendBox .item .img {
    overflow: hidden;
}
.ddwHomeRecommendBox .item .img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
}
.ddwHomeRecommendBox .item .img img:hover {
    transform: scale(1.1, 1.1);
    -webkit-transform: scale(1.1, 1.1);
}

.ddwHomeRecommendBox .item .letter {
    position: absolute;
    z-index: 1;
    bottom: 15%;
    left: 0;
    right: 0;
    width: 90%;
    margin: auto;
    font-size: 30px;
    color: #fff;
    font-family: "AccordAlternate-Light";
}
@media (max-width: 1799px) {
}
@media (max-width: 1379px) {
}
@media (max-width: 1299px) {
}
@media (max-width: 1199px) {
}
@media (max-width: 993px) {
}
@media (max-width: 767px) {
    .ddwHomeRecommendBox  {
        flex-direction: column;
    }
    .ddwHomeRecommendBox .item {
        width: 100%;
        margin-bottom: 20px;
    }
}